.auth {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 50rem;
  text-align: center;
  margin: 2rem 0;
  background: white;
  height: fit-content;
}

.auth form {
  padding: 1.5rem;
}

.auth h2 {
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
}

.auth a {
  color: #0000EE;
}

.auth a:hover {
  color: #5656fa;
}

.auth form p {
  font-size: 1.4rem;
  color: #d53333;
  margin-top: 0;
}
